html {
  box-sizing: border-box;
  font-size: $font-base-size;
}

body {
  font-family: $font-family;
  font-size: $font-body-size;
  font-weight: 400;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
